Repository phpbb/phpbb, pull requests merged in 2022-06, with the labels that each got.

#6390 [ticket/16988] Improve handling of appended branch info and security branches
  git-tools/hooks/prepare-commit-msg
Labels: 3.3 (Proteus) 🌑

#6378 [ticket/16978] add missing ul closeing tag
  phpBB/styles/prosilver/template/posting_pm_header.html
Labels: Styles 🎨, 3.3 (Proteus) 🌑

#6398 [ticket/16978] add missing ul closeing tag & convert to twig
  phpBB/styles/prosilver/template/posting_pm_header.html
Labels: Styles 🎨, 4.0 (Triton) 🔮

#6400 [ticket/16987] Update composer dependencies to latest versions - master version
  phpBB/composer.lock
Labels: 4.0 (Triton) 🔮
