Repository phpbb/phpbb, pull requests merged in 2023-02, with the labels that each got.

#6459 [ticket/17098] Add class S_CONTENT_DIRECTION to body in ucp_pm_viewmessage_print.html
  phpBB/styles/prosilver/template/ucp_pm_viewmessage_print.html
Labels: Styles 🎨, 3.3 (Proteus) 🌑

#6460 [ticket/17089] If user warned without post assume 0 for forum/topic_id
  phpBB/includes/mcp/mcp_warn.php
Labels: 3.3 (Proteus) 🌑

#6461 [ticket/17067] Add lang variable for rows per second & searchindex:
  phpBB/language/en/cli.php
  phpBB/phpbb/console/command/searchindex/create.php
  phpBB/phpbb/console/command/searchindex/delete.php
Labels: 4.0 (Triton) 🔮

#6462 [ticket/17046] Use tweaks.css for IE9 in overall_ and simple_header
  phpBB/styles/prosilver/template/simple_header.html
Labels: 3.3 (Proteus) 🌑

#6463 [ticket/17045] Use NUM_ATTACHMENTS in UCP and right css classes
  phpBB/styles/prosilver/template/ucp_attachments.html
Labels: Styles 🎨, 3.3 (Proteus) 🌑

#6464 [ticket/17043] Remove unnecessary cp navi CSS rule in bidi.css
  phpBB/styles/prosilver/theme/bidi.css
Labels: Styles 🎨, 3.3 (Proteus) 🌑

#6466 [ticket/17042] Add CSS rules for group desc and list
  phpBB/styles/prosilver/template/memberlist_body.html
  phpBB/styles/prosilver/theme/content.css
Labels: Styles 🎨, 3.3 (Proteus) 🌑

#6465 [ticket/17076] Fix signature length calculation
  phpBB/includes/message_parser.php
Labels: 3.3 (Proteus) 🌑
